@tailwind base;
@tailwind components;
@tailwind utilities;

/* Input box */
.input-box {
  position: relative;
}

.input-box > input {
  border-radius: 100vh;
  padding-block: 0.3rem;
  padding-inline: 1.4rem;
  outline: none;
  color: white;
}

.input-box > input:focus ~ span,
.input-box > input:valid ~ span {
  transform: translateY(-1.3rem) translateX(-1.5rem);
  scale: 0.7;
  font-weight: normal;
  color: white;
  line-height: 1;
  padding-inline: 10px;
}

.input-box > span {
  text-transform: uppercase;
  position: absolute;
  top: 0.3rem;
  left: 2rem;
  pointer-events: none;
  transition: 0.3s;
}
/* Input box */
