@tailwind base;
@tailwind components;
@tailwind utilities;

/* Input box */
.input-box {
  position: relative;
}

.input-box > input {
  border-radius: 100vh;
  padding-block: 0.3rem;
  padding-inline: 1.4rem;
  outline: none;
  color: white;
  transition: 0.4s;
}

.input-box > input:focus,
.input-box > input:valid {
  border-color: white;
}

.input-box > input:focus ~ span,
.input-box > input:valid ~ span {
  transform: translateY(-1.3rem) translateX(-1.5rem);
  scale: 0.7;
  font-weight: normal;
  color: white;
  line-height: 1;
  padding-inline: 10px;
}

.input-box > span {
  text-transform: uppercase;
  position: absolute;
  top: 0.4rem;
  left: 2rem;
  pointer-events: none;
  transition: 0.3s;
  font-size: 0.9rem;
}
/* Input box */

/* Animate */
.animate-fade-in {
  animation: fade-in 1s ease-in-out;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* Animate */

/* Tooltip */
.tooltip-pointer {
  cursor: pointer;
}

.tooltip-pointer:hover ~ .tooltip {
  display: block;
}

.tooltip {
  --width: 0.5rem;
  --background_color: rgb(0, 91, 177);
  position: absolute;
  display: none;
  background-color: var(--background_color);
  padding: 0.5rem;
  font-size: 0.8rem;
  cursor: pointer;
  border-radius: 5px;
}

.tooltip-left::before {
  content: "";
  position: absolute;
  width: 0;
  top: 2px;
  aspect-ratio: 1;
  left: calc(var(--width) * -0.9);
  border-top: var(--width) solid transparent;
  border-bottom: var(--width) solid transparent;
  border-right: var(--width) solid var(--background_color);
}
/* Tooltip */

/* Nav active */

.nav-active {
  --color: rgb(90, 139, 208);
}

.nav-active .icon {
  color: var(--color);
}

.nav-active::before {
  content: "";
  position: absolute;
  background-color: var(--color);
  height: 2rem;
  width: 3px;
  right: -1.6rem;
}
/* Nav active */

/* Badge */
.badge {
  position: absolute;
  top: -0.6rem;
  left: 1rem;
  border-width: 3px;
  border-style: solid;
  font-size: 0.7rem;
  font-weight: bold;
  border-radius: 100%;
  width: 1.5rem;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.badge > p {
  padding: 0;
  line-height: 0;
}
/* Badge */
