@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-text-base: #fff;
    --color-text-muted: #a5a8b6;
    --color-text-dm-base: #fff;
    --color-text-dm-muted: #a5a8b6;
    --color-text-lm-base: #1f1f1f;
    --color-text-lm-muted: #2d2d2d;

    --color-fill: #3490ff;
    --color-dm-fill: #303030;
    --color-lm-fill: #ffffff;
    --color-dm-fill-hover: #505050;
    --color-lm-fill-hover: #d3d1d1;

    --color-text-theme-base: #549df7;
    --color-text-theme-mute: #144683;

    --color-theme-fill: #3888ca;
  }

  .theme-red {
    --color-text-theme-base: #dc4848;
    --color-text-theme-mute: #e54646;

    --color-theme-fill: #ca3838;
  }
}

/* Input box */
.input-box {
  position: relative;
}

.input-box > input {
  border-radius: 100vh;
  padding-block: 0.3rem;
  padding-inline: 1.4rem;
  outline: none;
  color: white;
  transition: 0.4s;
}

.input-box > input:focus,
.input-box > input:valid {
  border-color: white;
}

.input-box > input:focus ~ span,
.input-box > input:valid ~ span {
  transform: translateY(-1.3rem) translateX(-1.5rem);
  scale: 0.7;
  font-weight: normal;
  color: white;
  line-height: 1;
  padding-inline: 10px;
}

.input-box > span {
  text-transform: uppercase;
  position: absolute;
  top: 0.4rem;
  left: 2rem;
  pointer-events: none;
  transition: 0.3s;
  font-size: 0.9rem;
}
/* Input box */

/* Animate */
.animate-fade-in {
  animation: fade-in 1s ease-in-out;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* Animate */

/* Nav active */

.nav-active .icon {
  color: var(--color-text-theme-base);
}

.nav-active::before {
  content: "";
  position: absolute;
  background-color: var(--color-text-theme-base);
  height: 2rem;
  width: 3px;
  right: -0.9rem;
}
/* Nav active */

/* Badge */
.badge {
  position: absolute;
  top: -0.6rem;
  left: 1.6rem;
  border-width: 3px;
  border-style: solid;
  font-size: 0.7rem;
  font-weight: bold;
  border-radius: 100%;
  width: 1.5rem;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.badge > p {
  padding: 0;
  line-height: 0;
}
/* Badge */
